.beetbox * {
  box-sizing: border-box;
  font-size: 16px;
}
.beetbox {
  border: 1px solid #1a4663;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  padding: 5px;
  margin: auto;
}
.beetbox-shadow {
  box-shadow: 0 0 5px 3px #1a4663;
}
.bb-content {
  background-color: #fff;
  display: none;
  margin-top: -1px;
}
.bb-active {
  display: block;
}
.bb-width-1-8 {
  width: 12.5%;
}
.bb-width-1-4,
.bb-width-2-8 {
  width: 25%;
}
.bb-width-3-8 {
  width: 37.5%;
}
.bb-width-1-2,
.bb-width-2-4,
.bb-width-4-8 {
  width: 50%;
}
.bb-width-5-8 {
  width: 62.5%;
}
.bb-width-3-4,
.bb-width-6-8 {
  width: 75%;
}
.bb-width-7-8 {
  width: 87.5%;
}
.bb-width-2-2,
.bb-width-4-4,
.bb-width-8-8,
.bb-width-full {
  width: 100%;
}
@media screen and (max-width: 768px) {
  [class^="bb-width-"] {
    display: block;
    width: 100%;
  }
}
.bb-nav a {
  display: inline-block;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  width: 100%;
}
.bb-nav .active {
  background-color: #e5e5e5;
}
.bb-nav .active a {
  color: #1a4663;
}
.bb-nav ul {
  background-color: #fff;
  margin: 0;
  padding: 0;
}
.bb-nav li:first-of-type {
  border-top-left-radius: 10px;
}
@media screen and (max-width: 768px) {
  .bb-nav li:first-of-type {
    border-top-right-radius: 10px;
  }
}
.bb-nav li {
  background-color: #1a4663;
  border: 1px solid #1a4663;
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-size: 18px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .bb-nav li {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.bb-nav li a {
  color: #ffffff;
}
.bb-body {
  background-color: #e5e5e5;
  border: 1px solid #1a4663;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 1em;
}
.bb-form {
  font-size: 16px;
}
.bb-form select,
.bb-form button {
  border-radius: 2px;
  margin-bottom: 0;
}
.bb-form select:focus,
.bb-form button:focus {
  box-shadow: 0 0 5px 2px #53a0d2;
  outline: none;
}
.bb-form input[type="text"] {
  font-size: 16px;
  margin-bottom: 0;
  vertical-align: middle;
}
.bb-body input,
.bb-body button,
.bb-body select {
  height: 2em;
}
.bb-body input[type="text"] {
  border: 1px solid #1a4663;
  font-weight: 100;
  padding: 5px;
}
@media screen and (max-width: 768px) {
  .bb-body input[type="text"] {
    margin: 0.5em auto;
    width: 100%;
  }
}
.bb-btn {
  background-color: #35c86f;
  border: 1px solid #000000;
  color: #ffffff;
  cursor: pointer;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .bb-btn {
    display: block;
    width: 100%;
  }
}
.bb-options {
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .bb-options {
    margin-top: 0.25em;
  }
}
.bb-options label {
  cursor: pointer;
}
.bb-opt,
.bb-opt-header {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .bb-opt,
  .bb-opt-header {
    display: block;
  }
}
.bb-opt {
  list-style-type: none;
  margin-right: 7px;
}
.bb-opt-header {
  font-weight: bold;
  text-align: right;
  margin-right: 1em;
  width: 10em;
}
@media screen and (max-width: 768px) {
  .bb-opt-header {
    text-align: left;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .bb-opt {
    margin-left: 0.5em;
  }
}
.bb-opt label {
  cursor: pointer;
}
label {
  margin-right: 5px;
}
label input[type="checkbox"],
label input[type="radio"] {
  margin: 0;
  vertical-align: middle;
}
.bb-form select {
  border: 1px solid #1a4663;
  display: inline-block;
  height: 30px;
  margin-bottom: 0;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .bb-form select {
    display: block;
    width: 100%;
  }
  .bb-form select + button {
    margin-top: 0.5em;
  }
}
.bb-help-text {
  color: #1a4663;
  display: block;
  font-weight: 100;
  padding: .25em;
}
.bb-footer {
  color: #666;
  padding: 1em;
}
.bb-footer ol,
.bb-footer ul {
  margin: 0;
  padding: 0;
}
.bb-footer li {
  display: inline-block;
  list-style-type: none;
  padding-left: .5em;
  padding-right: .5em;
}
@media screen and (max-width: 768px) {
  .bb-footer li {
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
  }
}
.bb-footer li:not(:last-of-type) {
  border-right: 1px solid black;
}
@media screen and (max-width: 768px) {
  .bb-footer li:not(:last-of-type) {
    border: 0;
  }
}
.bb-footer a {
  color: #1a4663;
  font-weight: bold;
  text-decoration: none;
}
.bb-footer a:hover {
  text-decoration: underline;
}
