.beetbox * {
  box-sizing: border-box;
}
.beetbox {
  border: 1px solid #000;
  border-radius: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 5px;
  margin: auto;
  width: 700px;
}
.bb-content {
  background-color: #fff;
  display: none;
  margin-top: -2px;
}
.bb-active {
  display: block;
}
.bb-nav {
  width: 100%;
}
.bb-nav a {
  display: inline-block;
  height: 100%;
  padding: 8px;
  text-decoration: none;
  width: 100%;
}
.bb-nav .active {
  background-color: #e5e5e5;
}
.bb-nav .active a {
  color: #1a4663;
}
.bb-nav ul {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}
.bb-nav li:first-of-type {
  border-top-left-radius: 10px;
}
@media screen and (max-width: 768px) {
  .bb-nav li:first-of-type {
    border-top-right-radius: 10px;
  }
}
.bb-nav li {
  background-color: #1a4663;
  border: 1px solid #1a4663;
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-size: 18px;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .bb-nav li {
    display: block;
    text-align: center;
    width: 100%;
  }
}
.bb-nav li a {
  color: #ffffff;
}
.bb-body {
  background-color: #e5e5e5;
  border: 1px solid #1a4663;
  border-radius: 0 0 10px 10px;
  margin: 0;
  padding: 1em;
}
.bb-search input,
.bb-search select,
.bb-search button {
  border-radius: 2px;
}
.bb-body input[type="text"] {
  border: 1px solid #1a4663;
  font-family: 'Arial';
  font-weight: 100;
  padding: 5px;
  width: 75%;
}
@media screen and (max-width: 768px) {
  .bb-body input[type="text"] {
    margin: .5em auto;
    width: 100%;
  }
}
.bb-body input[type="text"]:focus {
  box-shadow: 0 0 5px 2px lightblue;
  outline: none;
}
.bb-btn {
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.25em;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  .bb-btn {
    display: block;
    width: 100%;
  }
}
.bb-btn-green {
  background-color: lightgreen;
  border-color: darkgreen;
}
/**
 *  fieldsets
 */
.bb-field {
  border: none;
  padding: 5px 10px;
}
.bb-field label {
  cursor: pointer;
}
.bb-options {
  padding: 0;
}
.bb-options li,
.bb-options lh {
  display: inline-block;
}
.bb-options label {
  cursor: pointer;
}
.bb-opt,
.bb-opt-header {
  vertical-align: middle;
}
.bb-opt {
  list-style-type: none;
  margin-right: 7px;
}
.bb-opt-header {
  font-weight: bold;
  text-align: right;
  margin-right: 1em;
  width: 10em;
}
.bb-opt label {
  cursor: pointer;
}
label input[type="checkbox"],
label input[type="radio"] {
  vertical-align: middle;
}
.bb-search select {
  border: 1px solid #1a4663;
  display: inline-block;
  height: 30px;
  margin-bottom: 0;
  vertical-align: middle;
}
@media screen and (max-width: 768px) {
  .bb-search select {
    width: 100%;
  }
}
.bb-help-text {
  color: #1a4663;
  display: block;
  font-weight: 100;
  padding: .25em;
}
.bb-footer {
  color: #666;
  padding: 1em;
}
.bb-footer ol,
.bb-footer ul {
  margin: 0;
  padding: 0;
}
.bb-footer li {
  display: inline-block;
  list-style-type: none;
  padding-left: .5em;
  padding-right: .5em;
}
@media screen and (max-width: 768px) {
  .bb-footer li {
    display: block;
    padding-top: .25em;
    padding-bottom: .25em;
  }
}
.bb-footer li:not(:last-of-type) {
  border-right: 1px solid black;
}
@media screen and (max-width: 768px) {
  .bb-footer li:not(:last-of-type) {
    border: 0;
  }
}
.bb-footer a {
  color: #1a4663;
  font-weight: 900;
  text-decoration: none;
}
.bb-footer a:hover {
  text-decoration: underline;
}
