//
// Specific color definitions
//

@dark-blue: #1a4663;
@grey: #e5e5e5;

@theme-primary: @grey;
@theme-secondary: @dark-blue;

//
// divvying up the color distribution
//

@tab-active-bg-color: @theme-primary;
@tab-active-link-color: @theme-secondary;

@tab-inactive-bg-color: @theme-secondary;
// @tab-inactive-link-color: @theme-primary;
@tab-inactive-link-color: #fff;

@tab-content-bg-color: @theme-primary;

@link-color: @dark-blue;

//
// font definition
//

@main-font-family: 'Arial', sans-serif;

