// screen sizes grabbed from http://getbootstrap.com/css/#grid
// * phones (small medium) up to 768px
// * tablets (medium) up to 992px
// * desktop (large) over 992px
@small-screen-max: 768px;
@medium-screen-min: @small-screen-max + 1px;
@large-screen-min: 992px;

// padding + general roominess
@beetbox-padding: 5px;
@tab-padding: 8px;

// margin used for most/all form elements
@form-element-margin: .25em;

@opt-header-width: 10em;

// rounded-corners
@box-border-radius: 10px;
@form-element-border-radius: 2px;

@element-base-height: 2em;