.bb-body {    
  background-color: @tab-content-bg-color;
  border: 1px solid @theme-secondary;
  border-radius: 0 0 @box-border-radius @box-border-radius;
  margin: 0;
  padding: 1em;
}

.bb-search {
  input,
  select,
  button {
    border-radius: @form-element-border-radius;
  }
} 

.bb-body input[type="text"] {
  border: 1px solid @theme-secondary;
  font-family: 'Arial';
  // font-size: 1.2em;
  font-weight: 100;
  padding: 5px;
  width: 75%;

  .display-small({
    margin: .5em auto;
    width: 100%;
  });
}

.bb-body input[type="text"]:focus {
  box-shadow: 0 0 5px 2px lightblue;
  outline: none;
}

.bb-btn {
  border: 1px solid black;
  cursor: pointer;
  font-size: 15px;
  line-height: 1.25em;
  vertical-align: bottom;

  .display-small({
    display: block;
    width: 100%;
  });
}

.bb-btn-green { 
  background-color: lightgreen; 
  border-color: darkgreen;
}

/**
 *  fieldsets
 */

.bb-field {
  border: none;
  padding: 5px 10px;
}

.bb-field label {
  cursor: pointer;
}

.bb-options {
  padding:0;

  li, lh {
    display: inline-block;
  }

  label {
    cursor: pointer;
  }
}

.bb-opt, .bb-opt-header {
  vertical-align: middle;
}

.bb-opt {
  list-style-type: none;
  margin-right: 7px;
  
  &-header { 
    font-weight: bold; 
    text-align: right;
    margin-right: 1em;
    width: 10em;
  }
  
  label {
    cursor: pointer;
  }
}

label {
  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: middle;
  }
}

.bb-search select {
  border: 1px solid @theme-secondary;
  display: inline-block;
  // font-size: 25px;
  height: 30px;
  margin-bottom: 0;
  vertical-align: middle;

  .display-small({
    width: 100%;
  });
}

.bb-help-text {
  color: @theme-secondary;
  display: block;
  font-weight: 100;
  padding: .25em;
}