.bb-body {    
  background-color: @active-content-bg-color;
  border: 1px solid @theme-primary;
  border-radius: 0 0 @box-border-radius @box-border-radius;
  margin: 0;
  padding: 1em;
}

.bb-form {
  input[type="text"],
  select,
  button {
    border-radius: @form-element-border-radius;

    &:focus {
      box-shadow: 0 0 5px 2px lighten(@theme-primary, 33%);
      outline: none;
    }
  }
}

.bb-body {
  input, button, select {
    height: @element-base-height;
  }
 
  input[type="text"] {
    border: 1px solid @theme-primary;
    font-weight: 100;
    padding: 5px;
    width: 75%;

    .display-small({
      margin: (@form-element-margin * 2) auto;
      width: 100%;
    });
  }
}

.bb-btn {
  background-color: @button-bg-color;
  border: 1px solid @button-border-color;
  color: @button-text-color;
  cursor: pointer;
  vertical-align: bottom;

  .display-small({
    display: block;
    width: 100%;
  });
}

.bb-options {
  margin: 0;
  padding: 0;
  
  .display-small({
    margin-top: @form-element-margin;
  });

  label {
    cursor: pointer;
  }
}

.bb-opt, .bb-opt-header {
  display: inline-block;
  vertical-align: middle;

  .display-small({
    display: block;
  });
}

.bb-opt {
  list-style-type: none;
  margin-right: 7px;
  
  &-header { 
    font-weight: bold; 
    text-align: right;
    margin-right: 1em;
    width: @opt-header-width;

    .display-small({
      text-align: left;
      width: auto;  
    });
  }
  
  .display-small({
    margin-left: @form-element-margin * 2;  
  });

  label {
    cursor: pointer;
  }
}

label {
  input[type="checkbox"],
  input[type="radio"] {
    vertical-align: middle;
  }
}

.bb-form select {
  border: 1px solid @theme-secondary;
  display: inline-block;
  height: 30px;
  margin-bottom: 0;
  vertical-align: middle;

  .display-small({
    display: block;
    width: 100%;

    + button {
      // the text input is providing @form-element-margin
      // for top and bottom. to make up this difference
      // when only using a select and a button, we'll add
      // it to the top of the button, since that's easily
      // target-able.
      //
      // multiplying by 2 adds margin that would have
      // come from bottom of the select element
      margin-top: @form-element-margin * 2;
    }
  });
}

.bb-help-text {
  color: @theme-primary;
  display: block;
  font-weight: 100;
  padding: .25em;
}