.beetbox * { 
  box-sizing: border-box; 
}

.beetbox {
  border: 1px solid #000;
  border-radius: @box-border-radius;
  font-family: @main-font-family;
  font-size: @base-font-size;
  padding: 5px;

  margin: auto;
  width: 700px;
}

.bb-content {
  background-color: #fff;
  display: none;
  margin-top: -2px;
}

.bb-active { 
  display: block; 
}
