.beetbox * { 
  box-sizing: border-box;
}

.beetbox {
  border: 1px solid @black;
  border-radius: @box-border-radius;
  font-family: @main-font-family;
  font-size: @base-font-size;
  padding: @beetbox-padding;
  margin: auto;
  margin-top: 10em;
  width: 700px;
}

.beetbox-shadow {  
  box-shadow: 0 0 5px 3px @theme-primary;
}

.bb-content {
  background-color: #fff;
  display: none;
  margin-top: -2px;
}

.bb-active { 
  display: block; 
}
