.bb-nav {
  width: 100%;
}

.bb-nav a {
  display: inline-block;
  height: 100%;
  padding: @tab-padding;
  text-decoration: none; 
  width: 100%;
}

.bb-nav .active {
  background-color: @tab-active-bg-color;
}
.bb-nav .active a {
  color: @tab-active-link-color;
}

.bb-nav ul {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

.bb-nav li:first-of-type {
  border-top-left-radius: @border-radius-amount;
  .display-small({
    border-top-right-radius: @border-radius-amount;
  });
}

.bb-nav li {
  background-color: @tab-inactive-bg-color;
  border: 1px solid @tab-inactive-bg-color;
  border-bottom: 1px solid transparent;
  display: inline-block;
  font-size: 18px;
  margin: 0;

  .display-small({
    display: block;
    text-align: center;
    width: 100%;
  });
}

.bb-nav li a {
  color: @tab-inactive-link-color;
}
